.imgsty{

    background-color:rgb(67,89,90);
    display: flex;
    
}
span{
    color: white;
    font-size: 70px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-style: bold;
}
.con2 h2{
    color:rgb(25, 165, 229);
    padding: 150px;
    font-size: 50px;
}
.con2 p{
    color: rgb(202, 218, 25);
    font-size: 40px;
    padding: 10px;
    margin-bottom: 300px;
}
